.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    overflow-x: 1; /* Add this line */
}

.clients-section {
    text-align: center;
    padding: 50px 0;
}

.clients-section h2 {
    margin-bottom: 20px;
}

.clients-section p {
    margin-bottom: 40px;
}

.clients {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap; /* Add this line */
}

.clients img {
    width: 50%; /* Change this line */
    max-width: 200px;
    min-width: 100px;
    margin-bottom: 20px;
}